/FunctionalProgrammingInScala/week1_recfun/target/classes/common/package.class
/FunctionalProgrammingInScala/week1_recfun/target/classes/common/package$.class
/FunctionalProgrammingInScala/week1_recfun/target/classes/recfun/Main$$anonfun$main$1$$anonfun$apply$mcVI$sp$1.class
/FunctionalProgrammingInScala/week1_recfun/target/classes/recfun/Main$$anonfun$main$1.class
/FunctionalProgrammingInScala/week1_recfun/target/classes/recfun/Main.class
/FunctionalProgrammingInScala/week1_recfun/target/classes/recfun/Main$.class
/FunctionalProgrammingInScala/week1_recfun/target/classes.timestamp
/FunctionalProgrammingInScala/week1_recfun/target/graphsim-1.0-SNAPSHOT.jar
/FunctionalProgrammingInScala/week1_recfun/target/maven-archiver/pom.properties
/FunctionalProgrammingInScala/week1_recfun/target/surefire-reports/TEST-org.scalatest.tools.DiscoverySuite-7ff2e198-d1c0-4a29-a7a9-bf8258bff8ec.xml
/FunctionalProgrammingInScala/week1_recfun/target/surefire-reports/TEST-recfun.BalanceSuite.xml
/FunctionalProgrammingInScala/week1_recfun/target/surefire-reports/TEST-recfun.CountChangeSuite.xml
/FunctionalProgrammingInScala/week1_recfun/target/surefire-reports/TEST-recfun.PascalSuite.xml
/FunctionalProgrammingInScala/week1_recfun/target/surefire-reports/TestSuite.txt
/FunctionalProgrammingInScala/week1_recfun/target/test-classes/recfun/BalanceSuite$$anonfun$1.class
/FunctionalProgrammingInScala/week1_recfun/target/test-classes/recfun/BalanceSuite$$anonfun$2.class
/FunctionalProgrammingInScala/week1_recfun/target/test-classes/recfun/BalanceSuite$$anonfun$3.class
/FunctionalProgrammingInScala/week1_recfun/target/test-classes/recfun/BalanceSuite$$anonfun$4.class
/FunctionalProgrammingInScala/week1_recfun/target/test-classes/recfun/BalanceSuite.class
/FunctionalProgrammingInScala/week1_recfun/target/test-classes/recfun/CountChangeSuite$$anonfun$1.class
/FunctionalProgrammingInScala/week1_recfun/target/test-classes/recfun/CountChangeSuite$$anonfun$2.class
/FunctionalProgrammingInScala/week1_recfun/target/test-classes/recfun/CountChangeSuite$$anonfun$3.class
/FunctionalProgrammingInScala/week1_recfun/target/test-classes/recfun/CountChangeSuite$$anonfun$4.class
/FunctionalProgrammingInScala/week1_recfun/target/test-classes/recfun/CountChangeSuite.class
/FunctionalProgrammingInScala/week1_recfun/target/test-classes/recfun/PascalSuite$$anonfun$1.class
/FunctionalProgrammingInScala/week1_recfun/target/test-classes/recfun/PascalSuite$$anonfun$2.class
/FunctionalProgrammingInScala/week1_recfun/target/test-classes/recfun/PascalSuite$$anonfun$3.class
/FunctionalProgrammingInScala/week1_recfun/target/test-classes/recfun/PascalSuite.class
/FunctionalProgrammingInScala/week1_recfun/target/test-classes.timestamp
/FunctionalProgrammingInScala/week1_recfun/.classpath
